<%= form_for(@tweet, url: tweets_create_url, html: {multipart: true}, remote: true) do |f| %>
    <%= render 'layouts/form_error_messages', object: f.object %>
    <%= f.label :status %><br>
    <%= f.text_area :status %><br>
    <%= f.file_field :tweet_picture %><br>
    <%= f.submit 'Tweet!' %>
<% end %>