<p>
  <% if tweet.tweet_picture.file? %>
      <%= image_tag tweet.tweet_picture.url %>
  <% end %>
  <%= tweet.status %>
</p>
<p>
  <span>Posted <%= tweet.created_at.localtime.strftime "%d.%m.%Y %H:%M" %></span>
  <%= link_to 'View', tweet.tweet_url, target: '_blank' %>
</p>
