<h1>Home page</h1>
<div class="container">
  <%= render 'tweets/new' %>
  <div class="tweets">
    <% @tweets.each do |tweet| %>
        <div class='tweet'>
          <%= render 'tweets/show', tweet: tweet %>
        </div>
    <% end %>
  </div>
</div>