<% if object.errors.any? %>
    <div class="form_errors">
      The form contains <%= pluralize(object.errors.count, "error") %>.
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li>* <%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>