<!DOCTYPE html>
<html>
<head>
  <title>TestTaskIkantam</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if signed_in? %>
    <nav>
      <p>You signed in as <%= current_user.name %></p>
      <%= link_to 'Sign out', signout_path, method: :delete %>
    </nav>
<% end %>

<% flash.each do |key, value| %>
    <div class="alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
</body>
</html>
